/*************FOR OVERLAY***************************/

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

/*************FOR OVERLAY***************************/


.white-text-custom{
  color: white
}

ul > .nav-header > {
  background-color: #17A2B8;
}

.bootbox-custom-format{
  font-size: 18px;
}

.bootbox-red-text{
  color: red;
  font-weight: bold;
  font-style: italic;
}

/*tabbing not link color custom*/
.nav-tabs .nav-link:not(.active) {
    border-color: transparent !important;
    background-color: #E9ECEF;
    color: black;
}

sup{
  color: red;
}
